<aside
    class="flex xl:fixed xl:w-[585px] xl:h-full xl:top-0 xl:left-0 relative z-50 bg-slate-100"
>
    <div class="flex-col hidden px-6 pt-8 border-r xl:flex border-r-slate-200">
        <div class="flex gap-6 [writing-mode:vertical-rl] flex-1">
            <span class="font-medium text-slate-800">Resume</span>
            <span class="text-slate-300">&#47;</span>
            <span class="text-slate-800">Sjoerd Stottelaar</span>
        </div>

        <div class="flex flex-col gap-8 pb-12">
            <a
                href="mailto:stottelaar.s@gmail.com"
                title="Say hi"
                class="transition-colors duration-200 ease-in-out text-slate-500 hover:text-slate-800"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <line x1="22" y1="2" x2="11" y2="13"></line>
                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                </svg>
            </a>
            <a
                href="tel:0031620577144"
                title="Say hi"
                class="transition-colors duration-200 ease-in-out text-slate-500 hover:text-slate-800"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path
                        d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                    ></path>
                </svg>
            </a>
        </div>
    </div>

    <div
        class="flex flex-col w-full p-8 overflow-y-auto xl:px-16 xl:py-16 xl:border-r border-r-slate-200 xl:max-w-xl"
    >
        <div class="flex justify-between">
            <picture
                class="max-w-[200px] sm:max-w-[240px] xl:max-w-[320px] rounded-3xl shadow-xl overflow-hidden"
            >
                <img
                    src="/sjoerd-stottelaar-framed-min.jpg"
                    class="w-full h-auto"
                />
            </picture>

            <div class="flex gap-6 mt-4 xl:hidden">
                <a
                    href="mailto:stottelaar.s@gmail.com"
                    title="Say hi"
                    class="transition-colors duration-200 ease-in-out text-slate-500 hover:text-slate-800"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                </a>
                <a
                    href="tel:0031620577144"
                    title="Say hi"
                    class="transition-colors duration-200 ease-in-out text-slate-500 hover:text-slate-800"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path
                            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                        ></path>
                    </svg>
                </a>
            </div>
        </div>

        <span class="mt-8 text-2xl font-bold text-slate-900">
            Sjoerd Stottelaar
        </span>
        <span class="text-lg text-slate-500">Front-end developer</span>

        <article class="mt-6 prose eading-relaxed prose-slate">
            <p class="font-medium lead">
                Driven by a passion for new technology and commited to building
                user-friendly interfaces, I am an experienced front-end
                developer that delivers quality results.
            </p>

            <p>
                Details matter. I craft digital products that are pixel-perfect
                and easy to work with. To achieve these results I enjoy working
                with other experts in my team to strive for the best result. I
                bring a friendly and positive attitude. I enjoy having a good
                laugh, talking about our expertise, and making friends along the
                way.
            </p>
        </article>
    </div>
</aside>

<main
    class="p-8 py-16 xl:p-16 flex-grow flex flex-col xl:ml-[585px] bg-white relative"
>
    <div
        class="block fixed inset-0 bg-gradient-to-t from-white to-transparent h-[200px] z-20 w-full xl:ml-[585px]"
    ></div>

    <div
        class="block fixed inset-0 h-[200px] z-10 w-full xl:ml-[585px] pattern-grid-sm text-slate-100/80"
    ></div>

    <!-- Work experience -->
    <section class="relative z-40 flex max-w-5xl gap-8 lg:gap-14 xl:gap-20">
        <div class="sticky self-start top-16 [writing-mode:vertical-rl] block">
            <h2 class="text-xl font-bold text-slate-800">Work experience</h2>
        </div>

        <div class="flex flex-col divide-y divide-slate-100">
            <div class="pb-12">
                <span class="font-sm text-slate-500">feb. 2019 — current</span>

                <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">
                        Front-end developer &#47; Frontis
                    </h3>

                    <article class="mt-4 prose prose-slate">
                        <p class="lead">
                            My role as a front-end developer involves building
                            web applications and websites that are
                            user-friendly, responsive, and accessible. I work
                            collaboratively in a multidisciplinary team to
                            ensure that our products meet high standards of
                            usability and functionality.
                        </p>

                        <ul>
                            <li>
                                Creating pixel perfect user interfaces based on
                                the designs provided by our UX team
                            </li>
                            <li>
                                Developing design systems for our clients using
                                Storybook and Vue.js, ensuring consistency and
                                efficiency in their web development projects
                            </li>
                            <li>
                                Creating responsive and performing websites that
                                meet industry standards
                            </li>
                            <li>
                                Building interfaces that seamlessly communicate
                                with both internal and external APIs, allowing
                                for efficient and reliable data exchange between
                                systems
                            </li>
                            <li>
                                I helped to enhance our development experience
                                by introducing new tooling and technologies,
                                taking our workflow to the next level
                            </li>
                        </ul>

                        <div class="flex flex-wrap gap-2">
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                web apps
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                websites
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                vue.js
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                bem
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                javascript (ES6)
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                scss
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                restful api
                            </span>
                        </div>
                    </article>
                </div>
            </div>

            <div class="py-12">
                <span class="font-sm text-slate-500">
                    nov. 2020 — jun. 2021
                </span>

                <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">
                        Front-end developer &#47; Nerds & Company
                    </h3>

                    <article class="mt-4 prose prose:slate">
                        <p>
                            As the front-end developer, my focus was building
                            visually stunning and engaging user experiences in
                            collaboration with our UX team. I thrived on
                            tackling challenging projects, such as integrating
                            headless CMS- and headless e-commerce solutions, to
                            deliver top-quality results for a major e-commerce
                            brand.
                        </p>

                        <div class="flex flex-wrap gap-2">
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                headless solutions
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                lead role
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                vue.js
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                nuxt.js
                            </span>
                        </div>
                    </article>
                </div>
            </div>

            <div class="py-12">
                <span class="font-sm text-slate-500">
                    jul. 2015 — sep. 2019
                </span>

                <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">
                        Digital marketer &#47; Frontis
                    </h3>

                    <article class="mt-4 prose prose:slate">
                        <p>
                            In my role as a digital marketer, I specialized in
                            the technical integration of digital marketing
                            tools, such as Google Analytics and Google Tag
                            Manager. I was responsible for developing and
                            executing digital marketing strategies for my
                            clients, ensuring successful outcomes.
                        </p>

                        <div class="flex flex-wrap gap-2">
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                google analytics
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                google tag manager
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                google data studio
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                strategy
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                advertising
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-800"
                            >
                                seo
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-800"
                            >
                                ux research
                            </span>
                        </div>
                    </article>
                </div>
            </div>

            <div class="pt-12">
                <span class="font-sm text-slate-500">
                    sept. 2014 — jun. 2015
                </span>

                <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">
                        Digital marketer &#47; Dorema Rekreatie
                    </h3>

                    <article class="mt-4 prose prose:slate">
                        <p>
                            As the only digital marketer in the company, I had a
                            variety of responsibilities. My main focus was on
                            developing the company's website and promoting its
                            products or services through different marketing
                            channels. Additionally, I provided support to the
                            sales team and assisted with customer support. I
                            enjoyed the challenge of balancing these different
                            tasks and found it rewarding to contribute to the
                            success of the company in multiple ways.
                        </p>

                        <div class="flex flex-wrap gap-2">
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                marketing
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                google analytics
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-800"
                            >
                                ux research
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                internal sales
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                customer support
                            </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- /Work experience -->

    <section
        class="relative z-40 flex max-w-5xl gap-6 mt-16 lg:gap-14 xl:gap-20 xl:mt-24"
    >
        <picture class="aspect-[6/3] max-w-5xl overflow-hidden rounded-3xl">
            <img
                src="/sjoerd-stottelaar-work-min.webp"
                class="w-full h-auto grayscale-[20%] hover:grayscale-0 transition-[filter] duration-150 ease-out"
            />
        </picture>
    </section>

    <!-- Skillset -->
    <section
        class="relative z-40 flex max-w-5xl gap-6 mt-16 lg:gap-14 xl:gap-20 xl:mt-24"
    >
        <div class="sticky self-start top-16 [writing-mode:vertical-rl] block">
            <h2 class="text-xl font-bold text-slate-800">Skillset</h2>
        </div>

        <div
            class="grid w-full max-w-5xl grid-cols-1 gap-8 gap-x-4 sm:grid-cols-2 md:grid-cols-3"
        >
            <article class="prose prose-slate">
                <p class="font-bold">Core skills</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS/SCSS</li>
                    <li>Javascript (ES6)</li>
                    <li>UI/UX design</li>
                </ul>
            </article>

            <article class="prose prose-slate">
                <p class="font-bold">Frameworks</p>
                <ul>
                    <li>Vue.js (3+ years experience)</li>
                    <li>Nuxt.js</li>
                    <li>Intertia.js</li>
                    <li>Tailwind</li>
                </ul>
            </article>

            <article class="prose prose-slate">
                <p class="font-bold">Technologies</p>
                <ul>
                    <li>Storybook.js</li>
                    <li>Vite/Webpack</li>
                    <li>Package managers (NPM)</li>
                    <li>Electron</li>
                    <li>Git</li>
                </ul>
            </article>

            <article class="prose prose-slate">
                <p class="font-bold">Back-end</p>
                <ul>
                    <li>Node.js</li>
                    <li>PHP/Laravel</li>
                    <li>MVC</li>
                </ul>
            </article>

            <article class="prose prose-slate">
                <p class="font-bold">Topics</p>
                <ul>
                    <li>Component Driven Development</li>
                    <li>Responsiveness</li>
                    <li>Accessibility</li>
                    <li>Agile / scrum methodology</li>
                </ul>
            </article>
        </div>
    </section>

    <!-- About me -->
    <section
        class="relative z-40 flex max-w-5xl gap-6 mt-16 lg:gap-14 xl:gap-20 xl:mt-24"
    >
        <div class="sticky self-start top-16 [writing-mode:vertical-rl] block">
            <h2 class="text-xl font-bold text-slate-800">About me</h2>
        </div>

        <div class="flex flex-col divide-y divide-slate-100">
            <div>
                <article class="prose prose-slate">
                    <p class="lead">
                        Let me introduce myself. My name is Sjoerd Stottelaar.
                        I'm 33 years old and living in Lichtenvoorde. Together
                        with my fiancé Katinka and daughter Rozemijn we live a
                        happy and cozy life.
                    </p>

                    <p>
                        In my spare time I enjoy spending time with my family.
                        Go to the woods, enjoy nature and mostly just enjoying
                        the quiet life. I enjoy playing video games and
                        listening to (a lot of) music. From electronic music to
                        metal, my taste in music can be confusing for some.
                    </p>

                    <p>
                        I have a passion for helping others, whether through
                        lending an ear, brainstorming together, or just being
                        there for someone who needs it. Making a positive impact
                        on lives is what satisfies me.
                    </p>
                </article>
            </div>
        </div>
    </section>

    <!-- Masonry gallery -->
    <section
        class="relative z-40 max-w-3xl gap-4 mt-16 space-y-4 md:gap-8 md:space-y-8 columns-2 xl:mt-24"
    >
        <img
            src="/export-2.jpeg"
            class="w-full aspect-[3/4] object-cover rounded-3xl grayscale-[20%] hover:grayscale-0 transition-[filter] duration-150 ease-out"
        />
        <img
            src="/export-3.jpeg"
            class="w-full aspect-[4/3] object-cover rounded-3xl grayscale-[20%] hover:grayscale-0 transition-[filter] duration-150 ease-out"
        />
        <img
            src="/export-1.jpeg"
            class="w-full aspect-[4/3] object-cover rounded-3xl grayscale-[20%] hover:grayscale-0 transition-[filter] duration-150 ease-out"
        />
        <img
            src="/export-5.jpeg"
            class="w-full aspect-[3/4] object-cover rounded-3xl grayscale-[20%] hover:grayscale-0 transition-[filter] duration-150 ease-out"
        />
    </section>

    <!-- Background -->
    <section
        class="relative z-40 flex max-w-5xl gap-6 mt-16 lg:gap-14 xl:gap-20 xl:mt-24"
    >
        <div class="sticky self-start top-16 [writing-mode:vertical-rl] block">
            <h2 class="text-xl font-bold text-slate-800">Background</h2>
        </div>

        <div class="flex flex-col divide-y divide-slate-100">
            <div class="pb-12">
                <div>
                    <article class="prose prose-slate">
                        <p class="lead">
                            Ever since I was a little kid, technology has been a
                            big part of my life. I still remember the day my
                            parents got our first family PC when I was only 4
                            years old. From that moment on, I was absolutely
                            hooked!
                        </p>

                        <p>
                            I spent hours tinkering around with MS-DOS, and
                            before long, I was playing video games and creating
                            doodles with PC Paint. Little did I know that this
                            early love for technology would end up shaping my
                            entire career.
                        </p>

                        <p>
                            I've always been curious and a thirst for knowledge,
                            and that hasn't changed one bit. When I was in high
                            school, my parents bought a 56K modem - and let me
                            tell you, that was a game-changer! My brother and I
                            started surfing the web, and it felt like a whole
                            new world had opened up for us.
                        </p>

                        <p>
                            But I didn't just want to use the internet - I
                            wanted to understand how it worked. I wanted to know
                            how to build my own website, and that's when my
                            journey as a front-end developer truly began.
                        </p>

                        <p>
                            Fast forward a few years, and I found myself
                            building websites for small companies. Friends and
                            family started to see me as the go-to person for
                            website help, and I became known as the "nephew who
                            knows about computers".
                        </p>

                        <p>
                            As I dived deeper into web design and development, I
                            realized that problem-solving was one of the most
                            important skills I could have. Whether it was a bug
                            in the code or a design challenge, I loved the
                            feeling of figuring out a solution and making
                            everything work seamlessly together.
                        </p>

                        <p>
                            After working professionally as a front-end
                            developer for over 4 years now, I've built up a
                            pretty diverse set of skills. But it's not just
                            about knowing the latest technology - for me, it's
                            all about the intersection between design and
                            technology.
                        </p>

                        <p>
                            I love nothing more than creating user experiences
                            that are not only functional, but truly help other
                            accomplish something. Whether it's working with a
                            team to develop a strong vision or getting down to
                            the nitty-gritty details of coding, I thrive on the
                            challenge of bringing great design to life through
                            technology.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section
        class="relative z-40 flex flex-col max-w-5xl gap-6 mt-16 lg:gap-14 xl:gap-20 xl:mt-24"
    >
        <figure class="aspect-[6/3] max-w-5xl overflow-hidden rounded-3xl">
            <img
                src="/Trackbird_fotografie-2.jpg"
                class="w-full h-auto grayscale-[20%] hover:grayscale-0 transition-[filter] duration-150 ease-out"
            />
        </figure>
    </section>

    <!-- Side projects -->
    <section
        class="relative z-40 flex max-w-5xl gap-8 lg:gap-14 xl:gap-20 xl:mt-24"
    >
        <div class="sticky self-start top-16 [writing-mode:vertical-rl] block">
            <h2 class="text-xl font-bold text-slate-800">Side projects</h2>
        </div>

        <div class="flex flex-col divide-y divide-slate-100">
            <div class="pb-12">
                <span class="font-sm text-slate-500">dec. 2022 — current</span>

                <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">
                        Freelance front-end developer — self employed
                    </h3>

                    <article class="mt-4 prose prose-slate">
                        <p>
                            In my spare time, I work as a self-employed
                            front-end developer, specializing in helping small
                            business owners build their website or web
                            application. I enjoy collaborating with my clients
                            to bring their ideas to life. Through my work, I
                            strive to help businesses establish a strong online
                            presence.
                        </p>

                        <p>
                            <a
                                href="https://sjoerdstottelaar.nl"
                                class="flex gap-2 no-underline text-slate-400"
                                target="_blank"
                            >
                                <span>Link to website</span>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-4"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                                    ></path>
                                    <polyline
                                        points="15 3 21 3 21 9"
                                    ></polyline>
                                    <line x1="10" y1="14" x2="21" y2="3"></line>
                                </svg>
                            </a>
                        </p>
                    </article>
                </div>
            </div>

            <div class="py-12">
                <span class="font-sm text-slate-500">nov. 2022 - current</span>

                <div>
                    <h3 class="mt-2 text-2xl font-bold text-slate-800">
                        Trackbird — co-founder
                    </h3>

                    <article class="mt-4 prose prose:slate">
                        <p>
                            My friend and I have developed a side project called
                            Trackbird, which is a tool designed to help
                            Moneybird users manage their time registration with
                            ease. We are currently testing it with our beta
                            users, and we plan to release it in Q2 of this year.
                            Our goal is to provide Moneybird users with a simple
                            yet effective way to track their time.
                        </p>

                        <p>
                            <a
                                href="https://trackbird.app"
                                class="flex gap-2 no-underline text-slate-400"
                                target="_blank"
                            >
                                <span>Link to website</span>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-4"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path
                                        d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                                    ></path>
                                    <polyline
                                        points="15 3 21 3 21 9"
                                    ></polyline>
                                    <line x1="10" y1="14" x2="21" y2="3"></line>
                                </svg>
                            </a>
                        </p>

                        <div class="flex flex-wrap gap-2">
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                vue.js
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                vite
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                electron
                            </span>
                            <span
                                class="inline-flex items-center rounded-full bg-slate-200 px-2.5 py-0.5 text-xs font-medium text-slate-600"
                            >
                                node.js
                            </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- /Side projects -->

    <!-- Mission -->
    <section
        class="relative z-40 flex max-w-5xl gap-6 mt-16 lg:gap-14 xl:gap-20 xl:mt-24"
    >
        <div class="sticky self-start top-16 [writing-mode:vertical-rl] block">
            <h2 class="text-xl font-bold text-slate-800">Mission</h2>
        </div>

        <div class="flex flex-col divide-y divide-slate-100">
            <div>
                <article class="prose prose-slate">
                    <p class="lead">
                        My mission is to use my skills and talents to make a
                        positive impact on the world. I want to contribute to
                        something greater than myself and help make people's
                        lives better in any way that I can.
                    </p>
                    <p>
                        Whether it's through my work or personal projects, I
                        strive to always learn and grow, and to inspire others
                        to do the same. I believe that by working together, we
                        can achieve great things and create a better future for
                        everyone.
                    </p>
                </article>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section
        class="relative z-40 flex max-w-5xl gap-6 mt-16 lg:gap-14 xl:gap-20 xl:mt-24"
    >
        <div class="flex flex-col divide-y divide-slate-100">
            <div>
                <article class="prose prose-slate">
                    <h2 class="text-3xl">Get in touch</h2>
                    <p class="lead">
                        You can check out my
                        <a
                            href="https://www.linkedin.com/in/sjoerdstottelaar/"
                            target="_blank"
                        >
                            LinkedIn
                        </a>
                        profile or drop me an
                        <a href="mailto:stottelaar.s@gmail.com" target="_blank">
                            email
                        </a>
                        .
                    </p>
                </article>
            </div>
        </div>
    </section>
</main>
